body{
    font-family: Arial;
    background:#fafaf3;
    padding:20px;
    text-align:center;
}

h2{
    margin-bottom:20px;
}


form{
    margin-bottom:15px;
}


input{
    padding:8px;
    margin:5px;
}


button{
    padding:8px 12px;
    margin:5px;
    cursor:pointer;
}


ul{
    list-style:none;
    padding:0;
    max-width:500px;
    margin:auto;
}


.student-item{
    background:white;
    padding:10px;
    margin-bottom:8px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border:1px solid #ddd;
}


.btn-edit{
    background:#4caf50;
    color:white;
    border:none;
}


.btn-delete{
    background:#f44336;
    color:white;
    border:none;
    margin-left:5px;
}


.present{
    background:#b6ffb6;
}


.highlight{
    border:3px solid blue;
}


#total, #attendance{
    margin-top:10px;
    font-weight:bold;
}


.footer{
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}