/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    text-align: center;
}

/* Part A: Box Model */

.box {
    width: 200px;
    height: 100px;
    margin: 20px auto;
    padding: 20px;
    border: 5px solid black;
    font-weight: bold;
}

/* Default content-box */
.box1 {
    background-color: lightcoral;
}

/* Border-box applied */
.box2 {
    background-color: lightgreen;
    box-sizing: border-box;   
}


.box3 {
    width: 250px;
    height: 120px;
    margin: 40px auto;
    padding: 30px;
    border: 8px dashed navy;
    background-color: lightblue;
}

/* Part C: Display Properties */

/* Block */
.block-example {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    background-color: yellow;
}

/* Inline */
.inline-example {
    display: inline;
    background-color: pink;
    padding: 5px;
}

/* Inline-block */
.inline-block-example {
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: lightgreen;
}

/* Display none */
.display-none-example {
    display: none;
}

/* Part D: Visibility vs Display */


.visibility-hidden-example {
    visibility: hidden;
    background-color: orange;
    padding: 10px;
}

.display-none-example2 {
    display: none;
    background-color: red;
    padding: 10px;
}

/* Footer */
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #222;
    color: white;
}
