body {
    margin: 0;
    font-family: Arial;
    background: white;
    color: black;
    transition: 0.3s;
}

/* Dark Mode */
.dark {
    background: #121212;
    color: white;
}


header {
    padding: 15px;
    background: linear-gradient(90deg, #3498db, #6dd5fa);
    color: white;
}


.dark header {
    background: linear-gradient(90deg, #232526, #414345);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(to right, #fdfbfb, #ebedee);
}


.dark .hero {
    background: #1e1e1e;
}


.hero h1 {
    font-size: 48px;
    margin: 10px 0;
}


#typing {
    font-size: 20px;
    color: #3498db;
}


.intro {
    margin-top: 20px;
    font-size: 18px;
}


.skills span {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #3498db;
    color: white;
    border-radius: 20px;
}


#projectContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    border: 1px solid #ddd;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
    background: white;
}

.dark .card {
    background: #2c2c2c;
}

.card:hover {
    transform: scale(1.05);
}


input, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}


button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 32px;
    }
}